html {
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  box-shadow: none;
  z-index: 1;
}

input[id="menu_check"] {
  display: none;
}

input[id="menu_check"] + label {
  display: none;
  top: 1.25rem;
  right: 2rem;
  width: 50px;
  height: 40px;
  position: fixed;
  cursor: pointer;
}

input[id="menu_check"] + label span {
  display: none;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background-color: #000;
  transition: all 0.5s;
}
/*햄버거 메뉴바 */
input[id="menu_check"] + label span:nth-child(1) {
  top: 0;
}
input[id="menu_check"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="menu_check"] + label span:nth-child(3) {
  bottom: 0;
}
/*햄버거 메뉴 클릭이벤트*/
input[id="menu_check"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input[id="menu_check"]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id="menu_check"]:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.header_content {
  box-sizing: border-box;
  width: 100%;
  max-width: 75rem;
  height: 4.5rem;
  padding: 1.25rem 2rem;
  margin: 0 auto;
}

.header_title {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  color: #000;
  cursor: pointer;
}

.header_navigation {
  float: right;
}

.navigation_point {
  display: inline-block;
  padding: 0 1rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  color: #000;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header_content {
    height: 5rem;
  }
  input[id="menu_check"] + label {
    display: block;
  }
  input[id="menu_check"] + label span {
    display: block;
  }
  input[id="menu_check"] {
    display: block;
    visibility: hidden;
  }
  .header_navigation {
    float: left;
    display: none;
    flex-flow: column;
  }
  input[id="menu_check"]:checked ~ .header_navigation {
    display: flex;
  }
  .navigation_point {
    padding: 0 0 1rem 0;
  }
}

@media (max-width: 1024px) {
  input[id="menu_check"]:checked ~ .header_navigation {
    display: flex;
  }
}

.home_content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: url(/src/images/03_darkMode.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.home_text {
  font-size: 3rem;
  color: #fff;
}

.next_button {
  margin-top: 2rem;
  padding: 1rem 4rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #222;
  text-decoration: none;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.about_me_container {
  box-sizing: border-box;
  width: 100%;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.article_title {
  text-align: center;

  padding-bottom: 2rem;
  font-family: "NotoSansKR-Bold";
  font-size: 2rem;
}

.about_me_content {
  text-align: center;
  font-family: "NotoSansKR-Bold";
}

@font-face {
  font-family: "NotoSansKR-Bold";
  src: url("./fonts/NotoSansKR-Bold.otf");
}

.skills {
  background-color: #999;
}

.skills_container {
  box-sizing: border-box;
  width: 100%;
  max-width: 75rem;
  height: 67rem;
  padding: 4rem 2rem;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .skills_container {
    height: 100rem;
  }
}

@media (max-width: 768px) {
  .skills_container {
    height: 150rem;
  }
}

#skills_title {
  color: #fff;
}

.skills_tech_boxs {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  gap: 1em;
  height: 100%;
}

.tech_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 19rem;
  padding: 1.5rem;
  margin: 0 auto 2rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
}

.tech_box_title {
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
  width: 100%;
  font-weight: 700;
  font-size: 1.5rem;
  color: #bb9f6b;
}

.skill_image_container {
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 3px;
  margin-bottom: 1rem;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%);
}

.skill_image_long_container {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 100px;
  border-radius: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 3px;
  margin-bottom: 1rem;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%);
}

.skill_label {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #000;
  border-radius: 1.5rem;
  width: 100px;
  height: 100px;
  opacity: 0;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
}

.skill_long_label {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #000;
  border-radius: 1.5rem;
  width: 200px;
  height: 100px;
  opacity: 0;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
}

#triple_label {
  width: 250px;
}

.skill_label:hover {
  width: 100%;
  opacity: 0.8;
}

.skill_long_label:hover {
  width: 100%;
  opacity: 0.8;
}

#triple_label:hover {
  width: 100%;
  opacity: 0.8;
}

.projects {
  background-color: #cfe5e2;
}

.projects_container {
  box-sizing: border-box;
  width: 100%;
  max-width: 75rem;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.project_box {
  padding: 3rem;
  margin: 0 auto 2rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
}

.project_title {
  padding-bottom: 0.5rem;
  font-family: Black Han Sans, sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #222;
  text-align: center;
}

.project_period {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1rem;
  color: #6c757d;
  text-align: center;
  opacity: 0.8;
}

.project_contents {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image_container {
  overflow: hidden;
  position: relative;
  width: 50%;
  margin-right: 3rem;
}

@media (max-width: 1024px) {
  .image_container {
    width: 100%;
    margin-right: 0;
  }
}

.image_container input[id*="slide"] {
  display: none;
}

.image_slider {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  width: 100%;
}

.image_slide {
  display: block;
  background-color: #fff;
  min-width: 100%;
  min-height: 100%;
  max-height: 30rem;
  width: 100%;
  transition: all 0.5s;
}

#umbrella .image_slide {
  background-color: #ccc;
}

.image_slide img {
  display: block;
  width: 97%;
  height: 100%;
  margin: 0 auto;
}

#umbrella .image_slide img {
  width: auto;
}

.slide_controler {
  padding: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .slide_controler {
    padding: 20px 10px;
  }
}

.current_slide {
  display: inline block;
  padding: 2px 20px;
  border-radius: 30px;
  background: #ccc;
  margin: 20px 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .current_slide {
    padding: 1px 10px;
    margin: 20px 5px;
  }
}

.project_description {
  margin-top: 1rem;
  width: calc(50% - 3rem);
}

@media (max-width: 1024px) {
  .project_description {
    width: 100%;
  }
}

.main_description {
  border-bottom: 1px solid #ccc;
  font-weight: 400;
  padding-bottom: 1rem;
}

.brief_description {
  margin-top: 1rem;
  display: block;
}

.brief_description .head {
  display: inline-block;
  vertical-align: top;
  width: 8rem;
  font-weight: 900;
}

.brief_description .body {
  display: inline-block;
  vertical-align: bottom;
  font-weight: 350;
  width: calc(100% - 8rem);
}

.brief_description a {
  color: cornflowerblue;
  text-decoration: none;
  cursor: pointer;
  word-break: break-all;
}

.contact {
  background-color: #f5f5f5;
}

.contact_container {
  padding: 4rem 2rem;
  margin: 0 auto;
}

.contact_links {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 40%;
}

@media (max-width: 1024px) {
  .contact_links {
    padding-left: 30%;
  }
}

@media (max-width: 768px) {
  .contact_links {
    padding-left: 10%;
  }
}

.icon_wrapper {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.icon_wrapper img {
  width: 100%;
  height: 100%;
}

#react {
  background-image: url("./icons/reactFull.png");
}

#react_native {
  background-image: url("./icons/react_native.png");
  background-size: contain;
  background-position: left 6px top 10px;
}

#typescript {
  background-image: url("./icons/typescript.png");
}

#html {
  background-image: url("./icons/html-css-js.png");
  text-align: center;
  display: inline-block;
  width: 250px;
  height: 100px;
  border-radius: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 3px;
  margin-bottom: 1rem;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%);
}

#styled-components {
  background-image: url("./icons/styledComponents.png");
  background-size: 105%;
  background-position: center;
}

#redux {
  background-image: url("./icons/redux-logo-landscape.png");
}

#redux_saga {
  background-size: cover;
  background-image: url("./icons/redux-saga.png");
}

#node_express {
  background-position: center;
  background-image: url("./icons/node-express.jpg");
}

#mysql {
  background-position: center;
  background-image: url("./icons/MySQL.png");
}

#sequelize {
  background-position: center;
  background-image: url("./icons/sequelizeimg.png");
}

#socketio {
  background-position: center;
  background-image: url("./icons/socketio.jpg");
}

#aws {
  background-position: center;
  background-image: url("./icons/aws.png");
}

#figma {
  background-image: url("./icons/fimga.png");
  background-position: center;
}

#zeplin {
  background-image: url("./icons/zeplin.png");
}

#slack {
  background-image: url("./icons/slack.jpeg");
  background-position: center;
}

/*input에 연결된 라벨클릭시 해당슬라이드로 이동*/
.image_container input[id*="slide01"]:checked ~ .image_slider > .image_slide {
  transform: translateX(0%);
}
.image_container input[id*="slide02"]:checked ~ .image_slider > .image_slide {
  transform: translateX(-100%);
}
.image_container input[id*="slide03"]:checked ~ .image_slider > .image_slide {
  transform: translateX(-200%);
}
.image_container input[id*="slide04"]:checked ~ .image_slider > .image_slide {
  transform: translateX(-300%);
}
.image_container input[id*="slide05"]:checked ~ .image_slider > .image_slide {
  transform: translateX(-400%);
}
.image_container input[id*="slide06"]:checked ~ .image_slider > .image_slide {
  transform: translateX(-500%);
}
/*슬라이드 컨트롤러 불들어오는 효과*/
.image_container
  input[id*="slide01"]:checked
  ~ .slide_controler
  > label:nth-child(1) {
  background-color: #999;
}
.image_container
  input[id*="slide02"]:checked
  ~ .slide_controler
  > label:nth-child(2) {
  background-color: #999;
}
.image_container
  input[id*="slide03"]:checked
  ~ .slide_controler
  > label:nth-child(3) {
  background-color: #999;
}
.image_container
  input[id*="slide04"]:checked
  ~ .slide_controler
  > label:nth-child(4) {
  background-color: #999;
}
.image_container
  input[id*="slide05"]:checked
  ~ .slide_controler
  > label:nth-child(5) {
  background-color: #999;
}
.image_container
  input[id*="slide06"]:checked
  ~ .slide_controler
  > label:nth-child(6) {
  background-color: #999;
}
